/* .input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color:#ccc ;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: -15px;
  font-size: 12px;
  color: #ffffff;
} */
.title{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 80px;

}
.input-container {
  position: relative;
  margin-bottom: 50px;
  
}
.input-container input {
  width: 40%;
  padding:20px 0px 20px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color:#ccc ;
}
.button{
  padding:20px 0px 20px 10px;
  width: 20%;
  border-radius: 40%;
  background-color: #38AA95;
  border-color: #38AA95;


}
.button button{
  padding:20px 0px 20px 10px;
  width: 20%;
  border-radius: 40%;
  background-color: #38AA95;
  border-color: #38AA95;


}